@model IEnumerable<Hv.Ppb302.DigitalThesis.WebClient.Models.GeoTag>
@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<div class="background-container background-image"></div>
<div class="main-container flex-horizontal-center">
    <div class="admin-container">
        <div class="admin-form">
            <div class="form-btn-container">
                <a class="form-main-btn" asp-controller="Admin" asp-action="Index">Return</a>
            </div>
            <div class="form-header-container geotags-color">
                <div class="form-header-count">@Model.Count()</div>
                <div class="form-header-name">Geotags</div>
            </div>
            <div class="form-table-container">
                <table class="form-table">
                    <thead>
                        <tr>
                            <th class="form-table-header">
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th class="form-table-header">
                                Visible
                            </th>
                            <th class="form-table-header">
                                PDF
                            </th>
                            <th class="form-table-header">
                                Audio
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="form-table-row">
                                <td class="form-table-data">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @if (item.IsVisible == true)
                                    {
                                        <div>Yes</div>
                                    }
                                    else
                                    {
                                        <div>No</div>
                                    }
                                </td>
                                <td>
                                    @if (item.PdfFilePath != null)
                                    {
                                        <div>Yes</div>
                                    }
                                    else
                                    {
                                        <div>No</div>
                                    }
                                </td>
                                <td>
                                    @if (item.AudioFilePath != null)
                                    {
                                        <div>Yes</div>
                                    }
                                    else
                                    {
                                        <div>No</div>
                                    }
                                </td>
                                <td class="form-table-btn edit">
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
