@model Page
@{
    ViewData["Title"] = "Admin";
}
<head>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<div class="background-container background-image"></div>
<div class="admin-container flex-center">
    <div class="admin-form-large">
        <h2>Aboutpage</h2>
        <hr />
        <form asp-controller="admin">
            <input hidden asp-for="Id" />
            <input hidden asp-for="Name" />
            <label asp-for="Content" class="control-label"></label>
            <input type="hidden" id="hiddeninput" asp-for="Content" class="form-control" />
            <div class="editor-layout">
                <div id="editortest">
                    @Html.Raw(Model.Content)
                </div>
            </div>
            <span asp-validation-for="Content" class="text-danger"></span>
            <div class="form-btn-container">
                <a class="form-return-btn" asp-controller="Admin" asp-action="Index">Return</a>
                <button class="form-submit-btn" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
