@model List<FileViewViewModel>
@{
    ViewData["Title"] = "Admin";
}

<head>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<div class="admin-container">
    <div class="fileview-container">
        <div class="file-heading">
            <a class="form-return-btn" asp-controller="Admin" asp-action="Index">Return</a>
            <div class="file-upload">
                @using (Html.BeginForm("FileUpload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <label for="files" class="btn">Choose a file</label>
                    <input type="file" name="file" id="files" />
                    <input type="submit" value="FileUpload" />
                }
            </div>
        </div>
        <div class="file-container">
            @foreach (var item in Model)
            {
                <div class="file-card">
                    @switch (item.Category)
                    {
                        case MimeDetective.Storage.Category.Document:
                            <img src="~/images/pdf.png" />
                            break;
                        case MimeDetective.Storage.Category.Video:
                            <img src="~/images/video.png" />
                            break;
                        case MimeDetective.Storage.Category.Audio:
                            <img src="~/images/audio.png" />
                            break;
                        case MimeDetective.Storage.Category.Compressed:
                            <img src="~/images/video.png" />
                            break;
                        default:
                            break;
                    }
                    <div class="file-options">
                        <div class="file-options-btns">
                            <button onclick="copyFunction('@(item.FileUrl)')">Copy Link</button>
                            <form method="post" asp-action="FileView" asp-controller="Admin">
                                <input type="hidden" name="FileName" value="@item.File" />
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                        <div class="file-card-title">@item.File</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
