@{
    ViewData["Title"] = "Admin";
}
<head>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<div class="background-container background-image"></div>
<div class="main-container flex-horizontal-center">
    <div class="overview-container">
        <a class="overview-btn profile-color" asp-controller="Admin" asp-action="Profile">
            Admin profile
        </a>
        <a class="overview-btn page-color" asp-controller="Pages" asp-action="Index">
            Pages
        </a>
        <a class="overview-btn molecular-color" asp-controller="Molecularmosaics" asp-action="Index">
            Molecular mosaics
        </a>
        <a class="overview-btn molar-color" asp-controller="Molarmosaics" asp-action="Index">
            Molar mosaics
        </a>
        <a class="overview-btn geotags-color" asp-controller="Geotags" asp-action="Index">
            Geotags
        </a>       
        <a class="overview-btn connectortags-color" asp-controller="Connectortags" asp-action="Index">
            Connector tags
        </a>       
        <a class="overview-btn kaleidoscopetags-color" asp-controller="Kaleidoscopetags" asp-action="Index">
            Kaleidoscope tags
        </a>      
        <a class="overview-btn assemblagetags-color" asp-controller="AssemblageTags" asp-action="Index">
            Assemblage tags
        </a>       
        <a class="overview-btn files-color" asp-controller="Admin" asp-action="FileView">
            Files
        </a>
    </div>
</div>
