@{
    ViewData["Title"] = "Admin";
}

<head>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>

<div class="admintables">
    <div class="containerss">
        <div class="box">
            <a href="Molarmosaics/index">
            <img src="icon1.png" alt="Icon 1">
            <p>Molar mosaic</p>
            </a>
        </div>
        <div class="box">
            <a href="Molecularmosaics/index">
            <img src="icon2.png" alt="Icon 2">
            <p>Molecular mosaic</p>
            </a>
        </div>
        <div class="box">
            <a href="Geotags/index">
            <img src="icon3.png" alt="Icon 3">
            <p>GeoTag</p>
            </a>
        </div>
        <div class="box">
            <a href="kaleidoscopetags/index">
            <img src="icon4.png" alt="Icon 4">
            <p>KaleidoscopeTag</p>
            </a>
        </div>
        <div class="box">
            <a href="connectortags/index">
            <img src="icon5.png" alt="Icon 5">
            <p>ConnectorTags</p>
            </a>
        </div>
        <div class="box">
            <a href="admin/fileview">
            <img src="icon6.png" alt="Icon 6">
            <p>Uppladdningar</p>
            </a>
        </div>
        <div class="box">
            <a href="admin/profile">
                <img src="icon6.png" alt="Icon 6">
                <p>Lösenordsbyte</p>
            </a>
        </div>
        <div class="box">
            <a href="AssemblageTags/index">
                <img src="icon6.png" alt="Icon 6">
                <p>AssemblageTags</p>
            </a>
        </div>
        <div class="box">
            <a href="admin/aboutadmin">
                <img src="icon6.png" alt="Icon 6">
                <p>About sidan admin</p>
            </a>
        </div>
        <div class="box">
            <a href="admin/startadmin">
                <img src="icon6.png" alt="Icon 6">
                <p>Start sidan admin</p>
            </a>
        </div>
    </div>

</div>