@{
    ViewData["Title"] = "Admin";
}
<head>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<div class="admin-container">
    <div class="options-container">
        <a class="menu-option" asp-controller="Molarmosaics" asp-action="Index">
            Molar Mosaics
        </a>
        <a class="menu-option" asp-controller="Molecularmosaics" asp-action="Index">
            Molecular Mosaics
        </a>
        <a class="menu-option" asp-controller="Geotags" asp-action="Index">
            Geo Tags
        </a>
        <a class="menu-option" asp-controller="Kaleidoscopetags" asp-action="Index">
            Kaleidoscope Tags
        </a>
        <a class="menu-option" asp-controller="Connectortags" asp-action="Index">
            Connector Tags
        </a>
        <a class="menu-option" asp-controller="Admin" asp-action="FileView">
            Uploads
        </a>
        <a class="menu-option" asp-controller="Admin" asp-action="Profile">
            Change Password
        </a>
        <a class="menu-option" asp-controller="AssemblageTags" asp-action="Index">
            Assemblage Tags
        </a>
        <a class="menu-option" asp-controller="Admin" asp-action="AboutAdmin">
            Edit Aboutpage
        </a>
    </div>
</div>
