<html>

<body>
    <div class="flex-container">
        <div class="flex-item">
            <a href="#">
                <div class="box-link">
                    <p>Create new mosaic</p>
                </div>
            </a>
        </div>
        <div class="flex-item">
            <a href="#">
                <div class="box-link">
                    <p>Thesis</p>
                </div>
            </a>
        </div>
        <div class="flex-item">
            <a href="#">
                <div class="box-link">
                    <p>Caleidoscoping & Tags</p>
                </div>
            </a>
        </div>
        <div class="flex-item">
            <a href="#">
                <div class="box-link">
                    <p>Settings</p>
                </div>
            </a>
        </div>
    </div>
   
</body>
</html>