@model List<GeoTag>

<div class="background-home">
    @{
        var geoTagDictionary = Model.ToDictionary(g => g.Title, g => g);
    }
    <a href="Mosaics/@geoTagDictionary["Problems"]?.Id">
        <div id="image-container1">
            <p class="image-text">Problems</p>
            <img src="~/images/geotags/geotag-black.png" />
        </div>
    </a>
    <a href="Mosaics/@geoTagDictionary["A Solution"]?.Id">
        <div id="image-container2">
            <p class="image-text">A Solution</p>
            <img src="~/images/geotags/geotag-black.png" />
        </div>
    </a>
    <a href="Mosaics/@geoTagDictionary["Ignore This"]?.Id">
        <div id="image-container3">
            <p class="image-text">Ignore This</p>
            <img src="~/images/geotags/geotag-black.png" />
        </div>
    </a>
    <a href="Mosaics/@geoTagDictionary["Deleuzian Ontology in Education"]?.Id">
        <div id="image-container4">
            <p class="image-text">Deleuzian Ontology <br/> in Education</p>
            <img src="~/images/geotags/geotag-black.png" />
        </div>
    </a>
    <a href="Mosaics/@geoTagDictionary["An Inquiry-Machine"]?.Id">
        <div id="image-container5">
            <img src="~/images/geotags/geotag-white.png" />
            <p class="image-text">An Inquiry-Machine</p>
        </div>
    </a>
    <a href="MolarMosaics">
        <div id="image-container6">
            <img src="~/images/geotags/geotag-white.png" />
            <p class="image-text">Molar Mosaics</p>
        </div>
    </a>
    <a href="MolecularMosaics">
        <div id="image-container7">
            <img src="~/images/geotags/geotag-white.png"/>
            <p class="image-text">Molecurlar Mosaics</p>
        </div>
    </a>
    <a href="Mosaics/@geoTagDictionary["Kaleido-scoping"]?.Id">
        <div id="image-container8">
            <img src="~/images/geotags/geotag-white.png" />
            <p class="image-text">Kaleido-scoping</p>
        </div>
    </a>

    <div>
        <img id="blue-mosaic1" src="~/images/mosaics/mosaic14.png"/>
        <img id="blue-mosaic2" src="~/images/mosaics/mosaic14.png" />
        <img id="blue-mosaic3" src="~/images/mosaics/mosaic14.png" />
        <img id="blue-mosaic4" src="~/images/mosaics/mosaic14.png" />
        <img id="blue-mosaic5" src="~/images/mosaics/mosaic14.png" />
    </div>
    <div>
        <img id="yellow-mosaic1" src="~/images/mosaics/yellow-mosaic.png" />
        <img id="yellow-mosaic2" src="~/images/mosaics/yellow-mosaic.png" />
        <img id="yellow-mosaic3" src="~/images/mosaics/yellow-mosaic.png" />
    </div>
</div>
