@{
    ViewData["Title"] = "Beginning";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<div class="background-container background-image"></div>
<div class="main-container">
    <a class="redirector-box" asp-action="Intro"></a>
    <div class="content-container">
        <div class="logo-container">

        </div>
        <div class="text-container">
            <div class="text-author">Mona Tynkkinen</div>
            <div class="text-title">fragile mosaics of <br> teacher becoming</div>
            <div class="text-subtitle">kaleidoscoping futures of difference</div>
        </div>
    </div>
</div>
