@{
    ViewData["Title"] = "Beginning";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<div class="background-container background-image"></div>
<div class="main-container">
    <a class="redirector-box" asp-action="Intro"></a>
    <div class="content-container">
        <div class="logo-container">
            <img src="~/images/icons/university-west-eng.png" class="logo-img" />
        </div>
        <div class="education-text-container">
            <div class="text-phd">PhD Thesis</div>
            <div class="text-education">Education with Specialisation in Work-Integrated Learning</div>
            <div class="text-print">2024 No. 70</div>
        </div>
        <div class="redirector-text-content">Click anywhere to progress</div>
        <div class="author-text-container">
            <div class="text-author">Mona Tynkkinen</div>
            <div class="text-title">fragile mosaics of <br> teacher becoming</div>
            <div class="text-subtitle">kaleidoscoping futures of difference</div>
            <div class="text-subtitle">ISBN Electronic 978-91-89969-06-3</div>
        </div>
    </div>
</div>
