@{
    ViewData["Title"] = "Introduction";
}
<head>
    <link rel="stylesheet" href="~/css/intro.css" asp-append-version="true" />
</head>
<div class="background-container"></div>
<div class="content-container">
    <div class="logo-container">
        <a asp-action="Geotags">
            <img class="logo-img" src="~/images/logo.png" alt="logo" />
        </a>
    </div>
    <div class="text-container">
        <img class="text-image" src="~/images/kaleidoscopes/kaleidoscope-1.png"/> @* temporary image *@
        <a class="link-btn" asp-action="Geotags">EXPLORE</a>
    </div>
</div>
