@model Page
@{
    ViewData["Title"] = "Introduction";
}
<head>
    <link rel="stylesheet" href="~/css/intro.css" asp-append-version="true" />
</head>
<div class="content-container">
    <div class="logo-container">
        <a asp-action="Geotags">
            <img class="logo-img" src="~/images/logo.png" alt="logo" />
        </a>
        
    </div>
    <div class="text-container">
        @if (!String.IsNullOrEmpty(Model.Content) && Model.Content.Trim() != "<p><br></p>")
        {
            <div class="text" id="editor">
                @Html.Raw(Model.Content)
            </div>
        }
        else
        {
            <p>
                Start content is empty
            </p>
        }
        <a class="link-btn" asp-action="Geotags">EXPLORE</a>
    </div>
</div>
