@model List<FilesViewModel>
@{
    ViewData["Title"] = "Materials";
}
<head>
    <link rel="stylesheet" href="~/css/materials.css" asp-append-version="true" />
</head>
<div class="background-container background-image"></div>
<div class="materials-container">
    @if (Model.Count != 0)
    {
        <div class="files-container">
            @foreach (var file in Model)
            {
                <div class="file-item-container">
                    <div class=file-icon-container>
                        @switch (file.Category)
                        {
                            case MimeDetective.Storage.Category.Document:
                                <img class="file-icon" src="~/images/icons/pdf.png" />
                                break;
                            case MimeDetective.Storage.Category.Video:
                                <img class="file-icon" src="~/images/icons/video.png" />
                                break;
                            case MimeDetective.Storage.Category.Audio:
                                <img class="file-icon" src="~/images/icons/audio.png" />
                                break;
                            case MimeDetective.Storage.Category.Compressed:
                                <img class="file-icon" src="~/images/icons/video.png" />
                                break;
                            default:
                                <img class="file-icon" src="~/images/icons/unknown.png" />
                                break;
                        }
                    </div>
                    <div class="file-text-container">
                        <div class="file-name-container">@file.Name</div>
                        <div class="file-options-container">
                            <a class="file-options-view-btn" href="@file.FileUrl">View</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="info-box">There are no materials here yet</div>
    }
</div>
