@{
    ViewData["Title"] = "Meanwhile";
}
<head>
    <link rel="stylesheet" href="~/css/meanwhile.css" asp-append-version="true" />
</head>
<div class="background-container background-image"></div>
<div class="main-container">
    <div class="content-container">
        <div class="logo-container">
            <a asp-action="Geotags">
                <img class="logo-img" src="~/images/icons/logo.png" alt="logo" />
            </a>
        </div>
        <div class="text-container">
            <img class="text-image" src="~/images/pages/meanwhile.png" />
            <a class="link-btn" asp-action="Geotags">EXPLORE</a>
        </div>
    </div>
</div>
