@model List<MolarMosaic>
@{
    ViewData["Title"] = "Molar Mosaics";
}

<div class="mosaic-container" id="backgroundImg">
    <div class="mosaic-float">
        @foreach(var mosaic in Model)
        {
            <div class="mosaic">
                <a href="@Url.Action("Detail", "Home", new {id = mosaic.Id})">
                    <img class="mosaicImg" src="~/images/mosaics/yellow-mosaic.png" />
                    <div>@mosaic.Title</div>
                </a>
            </div>
        }
    </div>
</div>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <h3 class="sidebarLine">Caleidoscoping</h3>
    <button class="calOption" data-filter="space" onclick="caleidoscoping(event)">SPACE</button>
    <button class="calOption" data-filter="time" onclick="caleidoscoping(event)">TIME</button>
    <button class="calOption" data-filter="assemblage" onclick="caleidoscoping(event)">ASSEMBLAGE</button>
    <button class="calOption" data-filter="sound" onclick="caleidoscoping(event)">SOUND</button>
    <button class="calClear" data-filter="clear" onclick="caleidoscoping(event)">Clear</button>
    <h3 class="sidebarLine">Tags</h3>
    <ul class="tagList">
        <li>
            <div class="item">
                <div class="checkbox-rect2">
                    <input type="checkbox" id="checkbox-rect1" name="check">
                    <label for="checkbox-rect1">Tag</label>
                </div>
            </div>
        </li>
        <li>
            <div class="item">
                <div class="checkbox-rect2">
                    <input type="checkbox" id="checkbox-rect2" name="check">
                    <label for="checkbox-rect2">Tag</label>
                </div>
            </div>
        </li>
        <li>
            <div class="item">
                <div class="checkbox-rect2">
                    <input type="checkbox" id="checkbox-rect3" name="check">
                    <label for="checkbox-rect3">Tag</label>
                </div>
            </div>
        </li>
        <li>
            <div class="item">
                <div class="checkbox-rect2">
                    <input type="checkbox" id="checkbox-rect4" name="check">
                    <label for="checkbox-rect4">Tag</label>
                </div>
            </div>
        </li>
        <li>
            <div class="item">
                <div class="checkbox-rect2">
                    <input type="checkbox" id="checkbox-rect5" name="check">
                    <label for="checkbox-rect5">Tag</label>
                </div>
            </div>
        </li>
        <li>
            <div class="item">
                <div class="checkbox-rect2">
                    <input type="checkbox" id="checkbox-rect6" name="check">
                    <label for="checkbox-rect6">Tag</label>
                </div>
            </div>
        </li>
    </ul>
</div>

<div id="main">
    <button class="openbtn" onclick="openNav()"><svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48" opacity="0.7"><path d="M400 976 0 576l400-400 56 57-343 343 343 343-56 57Z" /></svg></button>
</div>
@section Scripts {
    <script src="~/js/mosaics.js" asp-append-version="true"></script>
}