<!DOCTYPE html>
<html lang="en">
@{
    var username = Context.Session.GetString("Username");
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../images/logo.png" type="image/x-icon">
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <a asp-controller="Home" asp-action="Geotags"><img class="logo" src="~/images/logo.png" alt="Logotype of Mona Tynkkinen"/></a>
            <ul class="nav-list">
                @if (username != null)
                {
                    <li class="nav-item">
                        <a class="nav-link nav-link-ltr" asp-controller="Admin" asp-action="Index">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Logout">Log out</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link nav-link-ltr" asp-controller="Admin" asp-action="Login">Log in</a>
                    </li>
                }
                <li>
                    <a class="nav-link nav-link-ltr" asp-controller="Home" asp-action="About">About</a>
                </li>
                <li>
                    <a class="nav-link nav-link-ltr" asp-controller="Home" asp-action="Geotags">Tutorial</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer"></footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/authentication.js" asp-append-version="true"></script>
    <script src="~/js/kaleidoscope.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
