<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mona Tynkkinen</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VIsualiserad_Avhandling.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <a asp-controller="Home" asp-action="Index"><img class="logo" src="~/images/logo.png" alt="Logotype of Mona Tynkkinen" /></a>
            <ul class="nav-list">
                <li>
                    <a class="nav-link nav-link-ltr" asp-controller="Home" asp-action="Mosaics">Mosaics</a>
                </li>
                <li>
                    <a class="nav-link nav-link-ltr" asp-controller="Home" asp-action="About">About</a>
                </li>
           @if (!User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link nav-link-ltr" href="javascript:void(0);" onclick="showLoginOverlay()">Log in</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="Logout">Log out</a>
                </li>
            }
            </ul>
        </nav>
    </header>

    <div id="overlay" class="overlay" style="display: none;">
        <div class="login-section">
            <div class="close-btn" onclick="hideLoginOverlay()">&times;</div>
            <div class="heading">
                <h2>Welcome</h2>
                <p>Log in to manage the mosaics</p>
            </div>
            <form class="login-form" method="post" action="/Admin/Index">
                <div class="input">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" autocomplete="off" required />
                </div>
                <div class="input">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" />
                </div>
                <div class="remember-me">
                    <input type="checkbox" id="rememberMe" onchange="handleRememberMe(this)">
                    <label for="rememberMe">Remember me</label>
                </div>
                <div class="button input">
                     <button type="submit" onclick="return validateLoginForm()">Log in</button>
                    <a href="#">Forgot password?</a>
                </div>
            </form>
        </div>
    </div>

    <script src="script.js"></script>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            @*&copy; 2023 - Mona Tynkkinen -*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
