.background-image {
    background-image: url('../images/backgrounds/white-1.png');
}

.about-container {
    overflow: hidden !important;
    display: flex;
    height: 100vh;
    position: relative;
}

.about-content {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 22%;
    left: 10%;
    height: 78%;
    width: 90%;
    justify-content: space-between;
}

    .about-content::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: white;
        opacity: 0.5; /* Opacity applied here */
    }

.about-text,
.about-logo {
    position: relative;
}

.about-text {
    display: flex;
    flex-direction: column;
    margin: 4rem;
}

.about-logo {
    width: 30vw;
    height: 30vw;
    margin: 5rem;
    margin-left: 0;
}

