.background-image {
    background-image: url('../images/backgrounds/blue-white-1.jpg');
}

/* Addition to main container for admin pages */
.main-container {
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "Inter", sans-serif;
}

.admin-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: auto;
    margin-top: 10rem;
    max-width: 80rem;
}

.input {
    display: flex;
    flex-direction: column;
}

/* Login */
.login-container {
    padding: 2rem;
    background: white;
    border: 1px solid black;
    border-radius: 2px;
    height: fit-content;
}

.login-title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input input {
    display: flex;
    height: 2rem;
    width: 14.5rem;
    margin: 1rem 0;
    outline: none;
    border-radius: 2px;
    background: #eae9e9;
    border: 3px solid #eae9e9;
    transition: 0.5s ease;
}

    .login-input input:focus {
        background: transparent;
        border-color: rgb(50, 75, 75);
    }

.login-button button {
    height: 2rem;
    width: 15rem;
    margin: 1rem 0;
    cursor: pointer;
    background: #4d6c9e;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}

/* Index/Overview */
.overview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow: auto;
    margin-top: 10rem;
    max-width: 80rem;
}

.overview-btn {
    color: white;
    display: flex;
    align-items: center;
    width: 25rem;
    height: 7rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 2px;
    padding-left: 5rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.profile-color {
    background-color: #5C7C6D;
}

.page-color {
    background-color: #7787AE;
}

.molecular-color {
    background-color: #6E9494;
}

.molar-color {
    background-color: #6E9F87;
}

.geotags-color {
    background-color: #A5799E;
}

.connectortags-color {
    background-color: #BCA979;
}

.kaleidoscopetags-color {
    background-color: #6E8D9F;
}

.assemblagetags-color {
    background-color: #9AAC74;
}

.files-color {
    background-color: #ED676A;
}

/* Admin form */
.admin-form {
    overflow: auto;
}

.form-btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.form-main-btn {
    background-color: #8FAECB;
    color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 8rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-top: 0.5rem;
}

.form-header-container {
    display: flex;
    color: white;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    min-width: 60rem;
    height: 7rem;
    margin-bottom: 0.5rem;
}

.form-header-count {
    margin-left: 2rem;
    font-size: 4.5rem;
    font-weight: bold;
    align-self: flex-end;
    padding-bottom: 0.5rem;
}

.form-header-name {
    margin-left: 2rem;
    font-size: 1.5rem;
    align-self: flex-end;
    padding-bottom: 1.5rem;
}

.form-table-container {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 0.5rem;
}

.form-table {
    width: 100%;
    padding-bottom: 0.5rem;
}

.form-table-header {
    padding-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.form-table-row {
    background-color: #D9D9D9;
}

.form-table-data {
    padding-left: 0.5rem;
}

.form-table-btn {
    background-color: #8FAECB;
    text-align: center;
    width: 4rem;
    color: white;
    font-weight: 300;
}

    .btn-red {
        background-color: #D97272;
    }

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

 /* Files */
.files-header-container {
    display: flex;
    color: white;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
}

.files-header {
    display: flex;
    height: 7rem;
    width: 17rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.pdf-color {
    background-color: #ED676A;
}

.audio-color {
    background-color: #3BC751;
}

.video-color {
    background-color: #72ABDF;
}

.unknown-color {
    background-color: #726868;
}

.files-upload-text {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.files-upload-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.files-upload-item {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    gap: 2rem;
}

.files-upload-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    margin-right: 10px;
}

.files-upload-label input[type="file"] {
    display: none; /* Hide the file input */
}

.files-upload-materials-switch {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
    font-size: 1.2rem;
}

.files-upload-name {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1rem;
}

.files-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.file-item-container {
    display: flex;
    height: 8rem;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.file-icon-container {
    margin-left: 2rem;
    padding: 1.2rem;
}

.file-icon {
    height: 100%;
}

.file-text-container {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    flex-grow: 1;
    font-size: 1.3rem;
}

.file-name-container {
    display: flex;
    height: 50%;
    align-items: center;
    font-style: italic;
    font-weight: bold;
}

.file-options-container {
    display: flex;
    height: 50%;
    align-items: center;
    gap: 2rem;
}

.file-options-materials {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.file-options-link-btn {
    color: white;
    background-color: #8FAECB;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}

.file-options-delete-btn {
    color: white;
    background-color: #D97272;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}

    .file-options-link-btn:hover,
    .file-options-delete-btn:hover {
        filter: brightness(0.9);
    }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
