.background-image {
    background-image: url('../images/backgrounds/white-1.png');
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-section {
    position: relative;
    width: 270px;
    height: 390px;
    padding: 2rem 1.2rem;
    background: #fff;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border: 1px solid black;
}

.login-section::after {
    content: "";
    position: absolute;
    top: -25%;
    right: -25%;
    width: 0px;
    height: 0px;
    background: #324b4b;
    border-radius: 50%;
}

.login-form {
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 0.9rem;
}

.input {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input input {
    position: relative;
    height: 40px;
    margin: 0.8rem 0;
    outline: none;
    border-radius: 4px;
    background: #eae9e9;
    border: 3px solid #eae9e9;
    padding: 0 0.5rem;
    transition: 0.5s ease;
}

.input input:focus {
    background: transparent;
    border-color: rgb(50, 75, 75);
}

.button button {
    height: 40px;
    margin: 0.8rem 0;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background: #4d6c9e;
    color: #fff;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 4px;
}

.button a {
    margin-right: auto;
    margin-left: auto;
}

.heading {
    font-size: 0.8rem;
    margin-right: auto;
    margin-left: auto;
}

.heading p {
    margin-right: auto;
    margin-left: auto;
}

.admin-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
    padding-bottom: 10vh;
    padding-top: 20vh;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-option {
    background-color: white;
    border: 3px solid #28398a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(50% - 5rem);
    height: 10vh;
    margin: 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.admin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border: 3px solid #28398a;
}

.admin-form-large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border: 3px solid #28398a;
}

.form-table-row {
    background-color: #ccc;
}

.form-btn-container {
    display: flex;
    justify-content: space-between;
}

.form-return-btn {
    background-color: #28398a;
    color: white;
    border: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 10rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

    .form-return-btn:hover {
        background-color: #1a2e6c;
    }

.form-submit-btn {
    background-color: #28398a;
    color: white;
    border: none;
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    width: 10rem;
    cursor: pointer;
    text-decoration: none;
}

    .form-submit-btn:hover {
        background-color: #1a2e6c;
    }

.fileview-container {
    padding: 3rem;
    padding-top: 0;
    padding-bottom: 0;
}

.file-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.file-card {
    width: var(--cardWidth);
    height: var(--cardHeight);
    border: 2px solid #28398a;
    margin-top: var(--cardMargin);
    margin-right: var(--cardMargin);
    background: #fff;
    box-sizing: border-box;
    position: relative;
}

    .file-card img {
        height: 100%;
        width: 100%;
    }

.file-options {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.file-options-btns {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.file-card-title {
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5rem;
    background-color: white;
    border: 2px solid #ccc;
    margin: 0.5rem;
}

.file-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}
.file-upload form{
    display: flex;
    flex-direction: column;
    gap: 2rem
}
.file-upload-seconddiv {
    display: flex;
    justify-content: space-between
}
.file-upload {
    background-color: white;
    border: 3px solid #ccc;
    padding: 1rem;
    width: 30vw;
    margin: 0.5rem;
    margin-top: 1.5rem;
}
.switchdiv {
    display: flex;
    align-items: center;
    gap:1rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid #28398a;
    width: 50%;
    height: 30%;
}

#editortest {
    height: 60vh;
}

.editor-layout {
    width: 80vw;
}

.createform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td {
    max-width: 50vw
}

:root {
    --cardWidth: 240px;
    --cardHeight: 280px;
    --cardMargin: 16px;
}

.box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.box p {
    margin: 0;
    font-size: 16px;
    color: black;
    text-align: center;
}

.files-container {
    display: flex;
    flex-direction: column;
}

.material-container {
    width: var(--cardWidth);
    height: 3rem;
    border: 2px solid #28398a;
    background: #fff;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content:left;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    padding-left: 1rem;
}
