.detail-container {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url(../images/background/blue-white-1.jpg);
    background-size: 100% 100%;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.visibility-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:white;
    padding: 3vh;
    font-size: 2vh;
}

.info-container,
.content-container {
    box-sizing: border-box;
    background: #fcf9ee;
    border: 1px solid #ccc;
    padding: 0 1.25rem 1.25rem 1.25rem;
    overflow-x: hidden;
}

.info-container {
    position: relative;
    flex-grow: 1;
    font-size: 0.9375rem;
    float: left;
    height: 80vh;
    width: 20rem;
    padding: 0 1.25rem 1.25rem 1.25rem;
    background: #fcf9ee;
    border: 1px solid #ccc;
    margin-top: 11.25rem;
    margin-right: 1%;
    overflow-y: auto;
}

.navmenu {
    display: flex;
    flex-direction: column;
}

.navmenu-title,
.navmenu-subtitle {
    text-decoration: none;
    color: black;
    font-size: 0.9vw;
}

.navmenu-title {
    font-weight: bold;
}

.navmenu-subtitle {
    font-style: italic;
}

.navmenu-title:hover,
.navmenu-subtitle:hover {
    color: blue;
}

.content-container {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-grow: 1;
    background: #fcf9ee;
    border: 1px solid #ccc;
    margin-top: 11.25rem;
    height: 80vh;
    overflow-y: auto;
}

.text {
    padding: 3rem;
    flex-grow: 1;
}

.info-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.tags-title {
    font-size: 1.3rem;
}

.tags-content {
    font-size: 1.1rem;
}

.content-options {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.content-options-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #ccc;
    border: 3px solid #ccc;
}

.content-options-btn:hover {
    cursor: pointer;
    background: #f0f0f0;
}

.pdf_icon, 
.play_icon {
    height: 2rem;
}
