.background-image {
    background-image: url('../images/backgrounds/blue-white-1.jpg');
}

.info-container {
    position: relative;
    box-sizing: border-box;
    padding: 0 1.25rem 1.25rem 1.25rem;
    margin-top: 10rem;
    background: #fcf9ee;
    overflow-y: auto;
    min-width: 25rem;
}

    .info-container.minimized {
        display: none;
    }

.info-container-title {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    padding-inline: 1rem;
    padding-block: 0.4rem;
    background-image: url(../images/backgrounds/logo-zoom.png);
    border-radius: 2px;
    color: white;
}
.medium-zoom-image--opened{
    z-index: 999;
}

.navmenu {
    display: flex;
    flex-direction: column;
}

    .navmenu a.active {
        background-color: #D2D5DB;
    }

.navmenu-title,
.navmenu-subtitle {
    text-decoration: none;
    color: black;
    padding: 0.3rem;
}

.navmenu-title {
    font-weight: bold;
}

.navmenu-subtitle {
    font-style: italic;
}

    .navmenu-title:hover,
    .navmenu-subtitle:hover {
        color: #2B579A;
    }

.tag-container {
    display: flex;
    flex-wrap: wrap;
}

.tag-object {
    background-color: #D2D5DB;
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 2px;
}

.pdf-btn-container {
    display: flex;
    margin-top: 1rem;
}

.info-minimize-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    height: fit-content;
    margin-top: 10rem;
    margin-inline: 1rem;
    background-color: #D2D5DB;
    border: 3px solid #D2D5DB;
    border-radius: 2px;
}

    .info-minimize-btn:hover {
        cursor: pointer;
        background: #f0f0f0;
        transition: 0.2s;
    }

.info-minimize-img {
    width: 2rem;
    opacity: 0.6;
}

.text-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    background: #fcf9ee;
    margin-top: 10rem;
    overflow-y: auto;
    flex-grow: 1;
}

.text {
    padding: 3rem;
    flex-grow: 1;
}

.text-options {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-self: flex-end;
}

.text-options-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    padding-inline: 2rem;
    margin: 0.5rem;
    background-color: #D2D5DB;
    border: 3px solid #D2D5DB;
    border-radius: 2px;
}

    .text-options-btn:hover {
        cursor: pointer;
        background: #f0f0f0;
        transition: 0.2s;
    }

.audio-icon-bckg-active {
    background-image: url('../images/backgrounds/logo-zoom.png');
    background-size: cover;
    background-position: center;
}

.pdf-icon,
.play-icon,
.stop-icon {
    height: 2rem;
}

.stop-icon {
    display: none;
}

.text-reset-btn {
    display: flex;
    position: fixed;
    bottom: -10%;
    right: 5%;
    padding: 0.5rem;
    background-color: #D2D5DB;
    border: 3px solid #D2D5DB;
    transition: bottom 0.5s ease;
    border-radius: 2px;
}

    .text-reset-btn.visible {
        bottom: 5%;
    }

    .text-reset-btn.hidden {
        bottom: -10%;
    }

    .text-reset-btn:hover {
        cursor: pointer;
        background: #f0f0f0;
        transition: 0.2s;
    }

.text-reset-img {
    transform: rotate(90deg);
    width: 2rem;
    opacity: 0.6;
}

.visibility-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 2px;
}
