.background-image {
    background-image: url('../images/backgrounds/blue-white-1.jpg');
}

.navbar {
    display: none;
}

.redirector-box{
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.content-container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    background-color: rgba(200, 200, 200, 0.4);
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    text-align: center;
}

    .logo-container a {
        text-decoration: none;
        color: inherit;
        transition: transform 0.8s;
    }

        .logo-container a:hover {
            transform: scale(1.1);
        }

.logo-img {
    height: 20vw;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-bottom: 5vw;
}

.text-content {
    font-size: 1.7vw;
}
