.background-image {
    background-image: url('../images/backgrounds/white-1.png');
}

.mosaic-name {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    padding: 1rem;
    border-radius: 5px !important;
    z-index: 3;
    display: none;
    flex-direction: column;
    border-radius: 2px;
    font-size: 1.5rem;
    color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.mosaic-name h3 {
    margin: 0;
}

.tagmenu {
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
    background-color: rgba(213, 208, 200, 0.4);
    width: max(20%,25vw);
    overflow-y: auto;
    overflow-x: hidden;
    backdrop-filter: blur(5px);
    height: 100vh;
}

.tagmenu-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tagmenu-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagmenu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    color: white;
    height: 2rem;
    padding-inline: 0.5rem;
    border-radius: 2px;
    cursor: pointer;
}

.tagmenu hr {
    width: 100%;
}

.kaleiitem-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2rem;
}

.tag-kaleiitem {
    display: flex;
    align-items: center;
}

.custom-radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s;
}

.custom-radio:checked {
    border-color: #000;
    background-color: #000;
}

.custom-radio-label {
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    justify-self: center;
}

.kaleidoscope-container {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
    transition: transform 3s ease-in-out;
}

.kaleidoscope-image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35vw;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 3s ease;
}

.kaleidoscope-image-object {
    opacity: 0.5;
    transition: 3s ease;
}

.kaleidoscope-image-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35vw;
    width: 35vw;
    opacity: 0.5;
    transition: 3s ease;
}

.mosaics-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 3s ease;
}

.mosaic {
    width: 5vw;
    height: 5vw;
    position: absolute;
    transition: 3s ease;
}

.kaleidoscope-filter-1 {
    filter: brightness(110%) saturate(90%) hue-rotate(195deg);
}

.kaleidoscope-filter-2 {
    filter: brightness(110%) saturate(110%) hue-rotate(50deg);
}

.kaleidoscope-filter-3 {
    filter: brightness(110%) saturate(50%) hue-rotate(145deg);
}
.kaleidoscope-filter-4 {
    filter: none;
}

.tagList {
    list-style: none;
}

.tagList li {
    margin-bottom: 15px;
}

.tagList li input {
    text-align: center;
}

.mosaic-highlight-effect {
    width: min(8rem,8.5vw);
    height: min(8rem,8.5vw);
    transition: 1.8s ease;
    -webkit-filter: drop-shadow(0 0 5px #222);
    filter: drop-shadow(0 0 5px #222);
}

/* The Modal (background) */
.kalei-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.kalei-modal-content {
    display: flex;
    gap: 2rem;
    background-color: #fcf9ee;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    height: 75vh;
    overflow: hidden;
    overflow-x: hidden;
    flex-direction: column;
    align-items: flex-end;
}

.kalei-modal-close-container {
    margin-right: 18px;
}
.kalei-modal-content > div {
    overflow-x: hidden;
    word-break: break-word
}

/* The Close Button */
.kalei-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    height: 28px;
    position: fixed;
    margin-right: 10px;
}

    .kalei-modal-close:hover,
    .kalei-modal-close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

#kalei-modal-open {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    color: white;
    padding-inline: 0.5rem;
    border-radius: 2px;
    cursor: pointer;
    height: 100%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.pulse-effect {
    animation: pulse 2s ease-in-out;
}
