.content-container {
    overflow: hidden !important;
    background-image: url(../images/backgrounds/white-1.png);
    background-size: cover;
    height: 100%;
    width: 100vw;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10vh;
    max-height: 90vh;
}
.tagmenu {
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
    background-color: rgba(213, 208, 200, 0.4);
    width: 20%;
    overflow-y: auto;
    overflow-x: hidden;
    backdrop-filter: blur(5px);
    height: 100vh;
}

.tagmenu-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagmenu hr {
    width: 100%;
}

.tag-kaleiitem{
    display: flex;
    align-items: center;
}
/* Custom radio button */
.custom-radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s;
}

/* When radio button is checked */
.custom-radio:checked {
    border-color: #000;
    background-color: #000; /* Change color to black */
}

/* Label style */
.custom-radio-label {
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    justify-self: center;
}

.kaleidoscope-container {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
    transition: transform 3s ease-in-out;
}

.kaleidoscope-image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vw;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 3s ease;
}

.kaleidoscope-image-object {
    opacity: 0.5;
    transition: 3s ease;
}

.kaleidoscope-image-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vw;
    width: 40vw;
    opacity: 0.5;
    transition: 3s ease;
}

.mosaics-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 3s ease;
}

.mosaic {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    position: absolute;
    transition: 3s ease;
}

.kaleidoscope-filter-1 {
    filter: brightness(110%) saturate(90%) hue-rotate(195deg);
}

.kaleidoscope-filter-2 {
    filter: brightness(110%) saturate(110%) hue-rotate(50deg);
}

.kaleidoscope-filter-3 {
    filter: brightness(110%) saturate(50%) hue-rotate(145deg);
}
.kaleidoscope-filter-4 {
    filter: none;
}

.tagList {
    list-style: none;
}

    .tagList li {
        margin-bottom: 15px;
    }

        .tagList li input {
            text-align: center;
        }

.mosaic-highlight-effect {
    width: 10rem;
    height: 10rem;
    transition: 1.8s ease;
    -webkit-filter: drop-shadow(0 0 5px #222);
    filter: drop-shadow(0 0 5px #222);
}
