@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Darker+Grotesque&family=Libre+Baskerville:wght@700&family=Montserrat:wght@100&family=Nunito&family=Poppins&family=Source+Code+Pro&display=swap');

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0px;
    width: 100vw;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center; /* Centers items vertically */
    justify-content: flex-start; /* Aligns items to the start (left) */
    width: 100%; /* Span the full width */
    position: absolute; /* If you need it to be out of the flow of the document */
    z-index: 2; /* Ensures it sits above the background */
}

.nav-list li {
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
}

    .nav-list li a {
        font-family: "Inconsolata", sans-serif;
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        opacity: 0.6;
    }

        .nav-list li a:hover {
            transition: 0.3s ease;
            opacity: 1;
            text-shadow: white 1px 0 10px;
        }

.logo {
    margin-top: 20px;
    width: 130px;
    height: auto;
    margin-left: 30px;
}
.text {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    display: flex;
    align-items: stretch;
}

#kolumn1, #kolumn2 {
    box-sizing: border-box;
    background: #fcf9ee;
    border: 1px solid #ccc;
    padding: 0 20px 20px 20px;
}

#kolumn1 {
    font-size: 15px;
    float: left;
    width: 10%;
    height: 30%;
    padding: 0 20px 20px 20px;
    background: #fcf9ee;
    border: 1px solid #ccc;
    margin-top: 180px;
    margin-right: 1%;
}

#kolumn2 {
    padding: 0px;
    flex-grow: 1;
    background: #fcf9ee;
    border: 1px solid #ccc;
    margin-top: 180px;
    overflow-y: auto;
    height: 80vh;
}

#kolumn3 {
    width: 120px;
    background: #020C42;
    color: white;
    box-sizing: border-box;
    font-size: 15px;
    padding: 0px 110px 0 0;
}


.sections {
    margin-top: 50px;
    padding: 20px;
    font-family: 'Inconsolata', serif;
    white-space: nowrap;
    margin-bottom: 80px;
}


#kolumn2 p {
    font-family: sans-serif;
}

#kolumn2 h1, h2, h3 {
    font-family: 'Inconsolata', serif;
    text-align: center;
    font-weight: bold;
}

.tags, .title {
    font-size: 20px;
}

.tags {
    font-family: 'Inconsolata';
}

.title {
    font-family: 'Inconsolata';
    font-weight: bold;
}

.pdf_icon {
    position: absolute;
    top: 80px;
    height: 35px;
    margin-right: 40px;
}

.play_icon {
    float: left;
    position: absolute;
    top: 80px;
    height: 35px;
    margin-left: 70px;
}

    .play_icon:hover {
        cursor: pointer;
    }

.pdf_icon:hover {
    cursor: pointer;
}

