.background-image {
    background-image: url('../images/backgrounds/white-1.png');
}

.materials-container {
    display: flex;
    margin-inline: 10vw;
    padding-bottom: 10vh;
    padding-top: 25vh;
    justify-content: center;
}

.files-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    min-width: 60rem;
}

.file-item-container {
    display: flex;
    height: 8rem;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.file-icon-container {
    margin-left: 2rem;
    padding: 1.2rem;
}

.file-icon {
    height: 100%;
}

.file-text-container {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    flex-grow: 1;
    font-size: 1.3rem;
}

.file-name-container {
    display: flex;
    height: 50%;
    align-items: center;
    font-style: italic;
    font-weight: bold;
}

.file-options-container {
    display: flex;
    height: 50%;
    align-items: center;
    gap: 2rem;
}

.file-options-materials {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.file-options-view-btn {
    color: white;
    background-color: #8FAECB;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}

    .file-options-view-btn:hover{
        filter: brightness(0.9);
    }

.info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 2px;
}
