.mosaic-container {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url(../images/background/background.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.mosaic-content {
    display: flex;
    flex-direction: column;
}

.mosaic a {
    position: relative;
    display: inline-block;
}

    .mosaic a div {
        font-family: 'Inconsolata', serif;
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        color: white;
        text-decoration: none !important;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.mosaic a:hover div {
    transition: 0.3s ease;
    text-decoration: none !important;
    opacity: 1;
    visibility: visible;
    -webkit-filter: drop-shadow(0 0 5px #222);
    filter: drop-shadow(0 0 5px #222);
}

.mosaicImg {
    width: 140px;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.mosaic {
    position: absolute;
    width: auto;
    z-index: 3;
}

.tagList {
    list-style: none;
}

    .tagList li {
        margin-bottom: 15px;
    }

        .tagList li input {
            text-align: center;
        }

.filter-checkbox input[type="checkbox"] {
    display: none;
}

    .filter-checkbox input[type="checkbox"] + label {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 20px;
        font-family: "Inconsolata", sans-serif;
        color: black;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .filter-checkbox input[type="checkbox"]:hover + label:hover {
        color: rgb(23, 86, 228);
    }

    .filter-checkbox input[type="checkbox"]:hover + label:before {
        border: 1px solid #343a3f;
        box-shadow: 2px 1px 0 #343a3f;
    }

    .filter-checkbox input[type="checkbox"] + label:last-child {
        margin-bottom: 0;
    }

    .filter-checkbox input[type="checkbox"] + label:before {
        content: "";
        display: block;
        width: 1.4em;
        height: 1.4em;
        border: 1px solid #343a3f;
        border-radius: 0.2em;
        position: absolute;
        left: 0;
        top: 0;
        -webkit-transition: all 0.2s, background 0.2s ease-in-out;
        transition: all 0.2s, background 0.2s ease-in-out;
        background: rgba(255, 255, 255, 0.03);
        box-shadow: -2px -1px 0 #343a3f;
        background: #f3f3f3;
    }

    .filter-checkbox input[type="checkbox"]:checked + label:before {
        border: 2px solid #fff;
        border-radius: 0.3em;
        background: #50565a;
        box-shadow: 2px 1px 0 #50565a;
    }

.becomings-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}