html {
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
    width: 100%; /* Ensures the html element spans the full width */
    height: 100%; /* Ensures the html element spans the full height */
    font-size: 14px; /* Base font size */
    scroll-behavior: smooth; /* Smooth scrolling for anchor links */
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: 'Inconsolata', monospace; /* Default font family */
    width: 100vw; /* Full viewport width */
    min-height: 100vh; /* Ensure body spans at least the full viewport height */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Prevents the system from displaying on to small screens */
.size-guard {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    align-items: center; /* Centers items vertically */
    justify-content: flex-start; /* Aligns items to the start (left) */
    position: absolute; /* If you need it to be out of the flow of the document */
    z-index: 1; /* Ensures it sits above the background */
    margin-left: 2rem;
    margin-top: 1rem;
 }

.nav-logo {
    height: 8rem;
    transition: transform 0.8s;
}

    .nav-logo:hover {
        transform: scale(1.1);
    }

.nav-list li {
    list-style-type: none;
    display: inline-block;
    margin-left: 2rem;
}

    .nav-list li a {
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        opacity: 0.6;
    }

    .nav-list li a:hover {
        transition: 0.6s ease;
        opacity: 1;
    }

/* Generic background container for all pages */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
    z-index: -1;
}

/* Generic main container for all pages */
.main-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    overflow: hidden;
}

/* Global classes */
.hide {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-vertical-center {
    display: flex;
    align-items: center;
}

.flex-horizontal-center {
    display: flex;
    justify-content: center;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.previeweditor {
    border-color: transparent !important;
    background: transparent !important;
}

.previeweditor div {
    background: transparent !important;
}

a {
    text-decoration: none;
    color: inherit;
}
